<tr id="comment-<%= comment.id %>">
  <td>
    <h3 class="small"><%= comment.user.name %></h3>
    <p><%= simple_format(comment.body) %></p>
  </td>
    <td class="action">
      <ul class="list-inline justify-content-center" style="float: right;">
        <li class="list-inline-item">
        <% if comment.user == current_user %>
          <%= link_to edit_comment_path(comment), class: "edit-comment-link", data: { turbo_stream: true } do %>
            <i class="bi bi-pencil-fill"></i>
            <% end %>
        </li>
        <li class="list-inline-item">
          <%= link_to comment_path(comment), class: "delete-comment-link", data: { turbo_method: :delete, turbo_confirm: '削除しますか？' } do %>
            <i class="bi bi-trash-fill"></i>
          <% end %>
          <% end %>
        </li>
      </ul>
    </td>
</tr>