<tr id="comment-<%= comment.id %>">
  <td class="bg-stone-50 border">
    <div id="post_comment-<%= comment.id %>">
      <h1 class="font-normal text-xl text-gray-600 ml-3"><%= simple_format(comment.body) %></h1>
    </div>
    <p class="text-gray-400 paragraph ml-5">コメント：<%= time_ago_in_words(comment.created_at).upcase %>前</p>
    <h3 class="font-normal text-sm text-gray-400 mt-0 ml-5">投稿者：<%= comment.user.name %></h3>
    <div class="flex col-3 gap-2 mt-5 text-lg ml-3">
      <% if logged_in? %>
        <% if comment.favorited?(current_user) %>
          <%= render 'comments/unfavorite', comment:,
                                            commentfavorite: comment.commentfavorites.find_by(user: current_user) %>
        <% else %>
          <%= render 'comments/favorite', comment: %>
        <% end %>
      <% else %>
        <%= link_to login_path, class: 'app-link' do %>
          <i class="bi bi-arrow-through-heart text-gray-600"></i>
          <%= comment.commentfavorites.count %>
        <% end %>
      <% end %>
      <% if comment.user == current_user %>
        <%= link_to edit_comment_path(comment), class: 'ml-8 app-link edit-comment-link', data: { turbo_stream: true } do %>
          <i class="bi bi-pencil-fill text-gray-500 hover:text-gray-400"></i>
        <% end %>
        <%= link_to comment_path(comment), class: 'app-link delete-comment-link',
                                           data: { turbo_method: :delete, turbo_confirm: '削除しますか？' } do %>
          <i class="bi bi-trash-fill text-gray-500 hover:text-gray-400"></i>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>
