<!-------------１つ目のいいねボタン------------->
<% if logged_in? %>
  <% if @article.favorited?(current_user, :like_first) %>
    <%= render 'articles/first_unfavorite', article: @article %>
  <% else %>
    <%= render 'articles/first_favorite', article: @article %>
  <% end %>
<% else %>
    <%= link_to login_path, class: 'app-link like-button-1' do %>
      <i class="bi bi-hand-thumbs-up text-gray-600"></i>
      <p class="text-xs paragraph flex justify-center"><%= @article.favorites.where(favorite_type: 'like_first').count %></p>
    <% end %>
<% end %>
<!-------------１つ目のいいねボタン------------->

<!-------------２つ目のいいねボタン------------->
<% if logged_in? %>
  <% if @article.favorited?(current_user, :like_second) %>
    <%= render 'articles/second_unfavorite', article: @article %>
  <% else %>
    <%= render 'articles/second_favorite', article: @article %>
  <% end %>
<% else %>
  <%= link_to login_path, class: 'app-link like-button-2' do %>
    <i class="bi bi-award text-gray-600"></i>
    <p class="text-xs paragraph flex justify-center"><%= @article.favorites.where(favorite_type: 'like_second').count %></p>
  <% end %>
<% end %>
<!-------------２つ目のいいねボタン------------->
<!-------------３つ目のいいねボタン------------->
<% if logged_in? %>
  <% if @article.favorited?(current_user, :like_third) %>
    <%= render 'articles/third_unfavorite', article: @article %>
  <% else %>
    <%= render 'articles/third_favorite', article: @article %>
  <% end %>
<% else %>
  <%= link_to login_path, class: 'app-link like-button-3' do %>
    <i class="bi bi-arrow-through-heart text-gray-600"></i>
    <p class="text-xs paragraph flex justify-center"><%= @article.favorites.where(favorite_type: 'like_third').count %></p>
  <% end %>
<% end %>

<!-------------３つ目のいいねボタン------------->
<!-------------４つ目のいいねボタン------------->
<% if logged_in? %>
  <% if @article.favorited?(current_user, :like_forth) %>
    <%= render 'articles/forth_unfavorite', article: @article %>
  <% else %>
    <%= render 'articles/forth_favorite', article: @article %>
  <% end %>
<% else %>
  <%= link_to login_path, class: 'app-link like-button-4' do %>
    <i class="bi bi-brightness-alt-high text-gray-600"></i>
   <p class="text-xs paragraph flex justify-center"> <%= @article.favorites.where(favorite_type: 'like_forth').count %></p>
  <% end %>
<% end %>
<!-------------４つ目のいいねボタン------------->
<!-------------５つ目のいいねボタン------------->
<% if logged_in? %>
  <% if @article.favorited?(current_user, :like_fifth) %>
    <%= render 'articles/fifth_unfavorite', article: @article %>
  <% else %>
    <%= render 'articles/fifth_favorite', article: @article %>
  <% end %>
<% else %>
  <%= link_to login_path, class: 'app-link like-button-5' do %>
    <i class="bi bi-bell text-gray-600"></i>
    <p class="text-xs paragraph flex justify-center"><%= @article.favorites.where(favorite_type: 'like_fifth').count %></p>
  <% end %>
<% end %>
<!-------------５つ目のいいねボタン------------->
