<!-------------１つ目のいいねボタン------------->
<div class="tooltip" data-tip="参考になった！">
<% if logged_in? %>
<% if article.favorited?(current_user, :like_first) %>
      <%= link_to article_favorite_path(@article.id, type: :like_first), data: { turbo_method: :delete }, class: "unlike-button-1" do %>
        <i class="bi bi-arrow-through-heart-fill"></i>
        <%= article.favorites.where(favorite_type: 'like_first').count %>
     <% end %>
  <% else %>
      <%= link_to article_favorites_path(@article.id, type: :like_first), data: { turbo_method: :post }, class: "like-button-1" do %>
        <i class="bi bi-arrow-through-heart"></i>
        <%= article.favorites.where(favorite_type: 'like_first').count %>
      <% end %>
  <% end %>
  <% else %>
    <%= link_to login_path, class: "like-button-1" do %>
      <i class="bi bi-arrow-through-heart"></i>
      <%= article.favorites.where(favorite_type: 'like_first').count %>
    <% end %>
  <% end %>
</div>
<!-------------１つ目のいいねボタン------------->
<!-------------２つ目のいいねボタン------------->
<div class="tooltip" data-tip="学びが深まった">
<% if logged_in? %>
  <% if article.favorited?(current_user, :like_second) %>
     <%= link_to article_favorite_path(@article.id, type: :like_second), data: { turbo_method: :delete }, class: "unlike-button-2" do %>
       <i class="bi bi-award-fill"></i>
       <%= @article.favorites.where(favorite_type: 'like_second').count %>
     <% end %>
  <% else %>
     <%= link_to article_favorites_path(@article.id, type: :like_second), data: { turbo_method: :post }, class: "like-button-2" do %>
       <i class="bi bi-award"></i>
       <%= article.favorites.where(favorite_type: 'like_second').count %>
      <% end %>
  <% end %>
<% else %>
    <%= link_to login_path, class: "like-button-1" do %>
      <i class="bi bi-award"></i>
      <%= article.favorites.where(favorite_type: 'like_second').count %>
    <% end %>
  <% end %>
  </div>
<!-------------２つ目のいいねボタン------------->
<!-------------３つ目のいいねボタン------------->
<div class="tooltip" data-tip="解説が丁寧">
<% if logged_in? %>
<% if article.favorited?(current_user, :like_third) %>
     <%= link_to article_favorite_path(@article.id, type: :like_third), data: { turbo_method: :delete }, class: "unlike-button-2" do %>
       <i class="bi bi-arrow-through-heart-fill"></i>
       <%= @article.favorites.where(favorite_type: 'like_third').count %>
     <% end %>
  <% else %>
     <%= link_to article_favorites_path(@article.id, type: :like_third), data: { turbo_method: :post }, class: "like-button-2" do %>
       <i class="bi bi-arrow-through-heart"></i>
       <%= article.favorites.where(favorite_type: 'like_third').count %>
      <% end %>
  <% end %>
  <% else %>
    <%= link_to login_path, class: "like-button-1" do %>
      <i class="bi bi-arrow-through-heart"></i>
      <%= article.favorites.where(favorite_type: 'like_third').count %>
    <% end %>
  <% end %>
</div>
<!-------------３つ目のいいねボタン------------->
<!-------------４つ目のいいねボタン------------->
<div class="tooltip" data-tip="独自の視点！">
<% if logged_in? %>
<% if article.favorited?(current_user, :like_forth) %>
     <%= link_to article_favorite_path(@article.id, type: :like_forth), data: { turbo_method: :delete }, class: "unlike-button-2" do %>
       <i class="bi bi-brightness-alt-high-fill"></i>
       <%= article.favorites.where(favorite_type: 'like_forth').count %>
     <% end %>
  <% else %>
     <%= link_to article_favorites_path(@article.id, type: :like_forth), data: { turbo_method: :post }, class: "like-button-2" do %>
       <i class="bi bi-brightness-alt-high"></i>
       <%= article.favorites.where(favorite_type: 'like_forth').count %>
      <% end %>
  <% end %>
  <% else %>
    <%= link_to login_path, class: "like-button-1" do %>
      <i class="bi bi-brightness-alt-high"></i>
      <%= article.favorites.where(favorite_type: 'like_forth').count %>
    <% end %>
  <% end %>
</div>
<!-------------４つ目のいいねボタン------------->
<!-------------５つ目のいいねボタン------------->
<div class="tooltip" data-tip="詳細をもっと知りたい">
<% if logged_in? %>
<% if article.favorited?(current_user, :like_fifth) %>
     <%= link_to article_favorite_path(@article.id, type: :like_fifth), data: { turbo_method: :delete }, class: "unlike-button-2" do %>
       <i class="bi bi-bell-fill"></i>
       <%= article.favorites.where(favorite_type: 'like_fifth').count %>
     <% end %>
  <% else %>
     <%= link_to article_favorites_path(@article.id, type: :like_fifth), data: { turbo_method: :post }, class: "like-button-2" do %>
       <i class="bi bi-bell"></i>
       <%= article.favorites.where(favorite_type: 'like_fifth').count %>
      <% end %>
  <% end %>
  <% else %>
    <%= link_to login_path, class: "like-button-1" do %>
      <i class="bi bi-bell"></i>
      <%= article.favorites.where(favorite_type: 'like_fifth').count %>
    <% end %>
  <% end %>
</div>
<!-------------５つ目のいいねボタン------------->