<% content_for :title, page_title('編集') %>
  <div class="w-5/6 mx-auto max-w-screen-xl mt-10">
    <div class="w-full">
        <%= form_with model: @article do |form| %>
          <%= form.label :title, 'タイトル', class: ' text-gray-600' %>
          <%= render 'shared/error_messages', object: form.object %>
          <%= form.text_field :title, placeholder: 'タイトル',
                                      class: 'mb-10 bg-white text-gray-600 textarea textarea-bordered w-full' %>
          <br>
          <%= form.label :body, '本文', class: ' text-gray-600' %>
          <div class="grid grid-cols-1 lg: grid-cols-2 gap-5">
        <%= form.text_area :body, id: 'markdown', placeholder: '本文',
      class: 'textarea textarea-bordered w-full mb-4 h-full bg-white text-gray-600 h-screen', style: "overflow:auto;", value: @article.body %>
          <div id="html", class="bg-white text-gray-600 textarea textarea-bordered h-screen", style= "overflow:auto;"></div>
          </div>
          <div class="flex justify-center gap-7 mb-10 mt-10">
          <%= form.submit '投稿', name: 'published',
                                class: 'mb-10 app-link rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600' %>
          <% if @article.draft? %>
          <%= form_with model: @article do |form| %>
          <%= form.submit '下書き', name: 'draft',
                                 class: 'mb-10 app-link rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600' %>
         <% end %>
          </div>
        <% end %>
        <% end %>
    </div>
  </div>
<script>
   // idが「markdown」の要素を取得。ユーザーが入力を行ったときに以下の関数が実行される。
  document.getElementById('markdown').addEventListener('input', function () {
      // ユーザーが入力したMarkdownの内容を取得。
      const markdown = document.getElementById('markdown').value;
      // 取得したMarkdownをHTMLに変換。
      const html = marked.parse(markdown);
      // idが「html」の要素に変換したHTMLを表示。
      document.getElementById('html').innerHTML = html;
  });
</script>