<% content_for :title, page_title("一覧") %>
<div class= "bg-white">
  <div class= "w-5/6 mx-auto max-w-screen-xl">
  <div class="text-lg flex justify-center">
    <%= search_form_for @q do |f| %>
    <%= f.search_field :user_name_or_title_or_body_cont, class: "text-black bg-white input input-bordered" %>
    <%= f.submit '検索', class: "text-gray-600 rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"%>
    <% end %>

    <%= link_to '新しい順', articles_path(latest: "true"), class: "app-link " %>
    <%= link_to '古い順', articles_path(old: "true"), class: "app-link " %>

  </div>
  <div class= "grid grid-cols-1 lg:grid-cols-3 gap-4 mt-6">
    <% if @articles.present? %>
      <% @articles.each do |article| %>
      <div class="p-4 border rounded-lg">
        <h2 class="text-xl mt-2 text-gray-600"><%= link_to article.title, article_path(article), class: "app-link" %></h2> 
        <h3 class="text-sm text-gray-600">作成日：<%= l article.created_at, format: :long %></h3>
        <h3 class="text-sm text-gray-600">更新日：<%= l article.updated_at, format: :long %></h3>
        <h3 class="text-sm text-gray-600"><%= article.user.name %></h3>
      </div>
    <% end %>
    <% else %>
      <p>投稿がありません</p>
    <% end %>
  </div>
    <div class = "flex justify-center">
    <%= paginate @articles %>
  </div>
</div>
</div>

