<% content_for :title, page_title('投稿') %>
<div class="w-5/6 mx-auto max-w-screen-xl flex-grow mb-20 mt-20">
  <div class="w-full">
    <%= form_with model: @article do |form| %>
      <%= render 'shared/error_messages', object: form.object %>
      <%= form.label :title, 'タイトル', class: 'text-gray-600 font-bold text-xl' %>
      <%= form.text_field :title,
                          class: 'text-lg mb-10 bg-stone-50 text-gray-600 textarea textarea-bordered w-full' %>
      <br>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 items-start">
        <div>
          <%= form.label :body, '本文', class: 'text-gray-600 font-bold text-xl mb-2 block' %>
          <%= form.text_area :body, id: 'markdown',
                                    class: 'text-lg pr-5 pl-5 pt-5 pb-5 bg-stone-50 text-gray-600 textarea textarea-bordered h-screen w-full',
                                    style: 'overflow:auto;' %>
        </div>
        <div>
          <%= form.label :markdown, 'マークダウン出力', class: 'text-gray-600 font-bold text-xl mb-2 block' %>
          <div id="html" class="text-lg pr-5 pl-5 pt-5 pb-5 bg-stone-50 text-gray-600 textarea textarea-bordered h-screen w-full"
               style="overflow:auto;"></div>
        </div>
      </div>
      <div class="flex justify-center gap-7 mb-10 mt-10">
        <%= form.submit '投稿', name: 'published',
                              class: 'mb-10 app-link rounded-md bg-blue-900 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 ' %>
        <%= form.submit '下書き', name: 'draft',
                               class: 'mb-10 app-link rounded-md bg-blue-900 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 ' %>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.getElementById('markdown').addEventListener('input', function () {
    const markdown = document.getElementById('markdown').value;
    const html = marked.parse(markdown);
    document.getElementById('html').innerHTML = html;
  });
</script>

<div class="absolute top-40 right-12 grid grid-cols-1">
  <div class="tooltip mb-5" data-tip="Miniita Bot">
    <%= render 'shared/chatbot' %>
  </div>
</div>
