<% visitor = notification.visitor %>
<% visited = notification.visited %>
<%= visitor.name %>さんが

  <% case notification.action %>
    <% when 'like' then %>
      <%= link_to 'あなたの投稿', notification.article, style: 'font-weight: bold;' %>にいいねしました。
      <%= time_ago_in_words(notification.created_at).upcase %>
    <% when 'commentlike' then %>
      <%= link_to 'あなたのコメント', notification.comment, style: 'font-weight: bold;' %>にいいねしました。
      <%= time_ago_in_words(notification.created_at).upcase %>
    <% when 'comment' then %>
      <% if notification.article.user_id == visited.id %>
        <%= link_to 'あなたの投稿', notification.article, style: 'font-weight: bold;' %>にコメントしました。
      <% else %>
        <%= link_to article_path(notification.article), class: 'app-link' do %>
          <a class="font-bold" ><%= notification.article.user.name %>さんの投稿</a>にコメントしました。
        <% end %>
     <% end %>
     <%= time_ago_in_words(notification.created_at).upcase %>
  <% end %>
  