<header>
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1 items-center">
      <%= link_to root_path do %>
        <p>ロゴ</p>
      <% end %>
    </div>
    <div class="lg:flex lg:gap-x-12 font-biz items-center">
      <%= link_to '記事を投稿', new_article_path, class: 'app-link text-sm font-semibold leading-6 text-slate-200' %>
      <%= link_to '記事を閲覧', articles_path, class: 'app-link text-sm font-semibold leading-6 text-slate-200' %>
    </div>
    <div class="lg:flex lg:flex-1 lg:justify-end font-biz items-center">
    </div>
      <%= link_to notifications_path, class: 'app-link' do %>
      <i class="bi bi-bell"></i>
      <% end %>

<div class="dropdown dropdown-left">
  <div tabindex="0" role="button">
   <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z" />
    </svg>
  </div>
  <ul tabindex="0" class="bg-indigo-100 dropdown-content menu rounded-box z-[1] w-52 p-2 shadow">
    <li><a><%= link_to 'プロフィール編集', profile_path, class: ' app-link text-sm font-semibold leading-6 text-slate-200' %></a></li>
    <li><a><%= link_to '自分の記事', my_articles_users_path, class: 'app-link text-sm font-semibold leading-6 text-slate-200' %></a></li>
    <li><a><%= link_to 'いいねした記事', my_favorites_users_path,
                       class: 'app-link text-sm font-semibold leading-6 text-slate-200' %></a></li>
    <li><a><%= link_to 'マイバッジ', my_badges_users_path, class: 'app-link text-sm font-semibold leading-6 text-slate-200' %></a></li>
     <li><a><%= link_to 'やる気ページ', my_dashboards_users_path,
                                         class: 'app-link text-sm font-semibold leading-6 text-slate-200' %></a></li>
    <li><a><%= link_to 'ログアウト', :logout, data: { turbo_method: :delete },
                                         class: 'app-link text-sm font-semibold leading-6 text-slate-200' %></a></li>
  </ul>
</div>
</header>