<!-- チャット画面の大枠 -->
<div class="flex flex-col items-center justify-center py-6 w-full h-full mb-48">
  <div class="w-5/6 mx-auto max-w-screen-xl space-y-8 h-full">
    <div id="conversation" class="space-y-4 p-4 rounded overflow-y-auto">
    </div>

    <!-- ローディングスピナー -->
    <div id="loading_spinner" class="hidden flex justify-center items-center">
      <span class="loading loading-spinner loading-md"></span>
    </div>

    <!-- ドロップダウンメニューとテキスト入力 -->
    <form id="text_area mr-4">
        <select id="dropdown" class="w-full px-3 py-2 border rounded border-gray-300 bg-stone-50 text-gray-600 mb-2 md:mb-3">
          <option value="">選択してください</option>
          <option value="「<%= @article_title.first %>」が初めて投稿した記事のタイトル名です。今後より良い記事を作成するためにタイトル名を総評、またこのタイトルからどんな記事を書けばいいかレビューしてください。">初めて投稿した記事のタイトルの総評</option>
          <option value="「<%= @article_title.second %>」が2回目に投稿した記事のタイトル名です。今後より良い記事を作成するためにタイトル名を総評、またこのタイトルからどんな記事を書けばいいかレビューしてください。">2回目に投稿した記事のタイトルの総評</option>
          <option value="「<%= @article_title.third %>」が3回目記事のタイトル名です。今後より良い記事を作成するためにタイトル名を総評、またこのタイトルからどんな記事を書けばいいかレビューしてください。">3回目に投稿した記事のタイトルの総評</option>
          <option value="「<%= @article_title.fourth %>」が4回目記事のタイトル名です。今後より良い記事を作成するためにタイトル名を総評、またこのタイトルからどんな記事を書けばいいかレビューしてください。">4回目に投稿した記事のタイトルの総評</option>
          <option value="「<%= @article_title.fifth %>」が5回目記事のタイトル名です。今後より良い記事を作成するためにタイトル名を総評、またこのタイトルからどんな記事を書けばいいかレビューしてください。">5回目に投稿した記事のタイトルの総評</option>
        </select>
      <textarea placeholder="質問内容を入力してください" id="user_input" class="flex-1 w-full md:w-full px-3 py-2 border rounded border-gray-300 focus:border-blue-500 focus:outline-none focus:ring bg-stone-50 text-gray-600 mb-2 md:mb-0" rows="8"></textarea>
      <div class="flex justify-center mt-3">
      <button id="button_post" class="app-link rounded-md bg-blue-900 px-3 py-1.5 text-sm font-semibold leading-6 text-gray-100 shadow-sm hover:bg-blue-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">送信</button>
     </div>
    </form>
  </div>
</div>
<script>
  const button_post = document.getElementById('button_post');
  const dropdown = document.getElementById('dropdown');
  const userInput = document.getElementById('user_input');
  const loadingSpinner = document.getElementById('loading_spinner');
  const conversation = document.getElementById('conversation');

  // ドロップダウンメニューの選択が変更されたときの処理
  dropdown.addEventListener('change', function() {
    userInput.value = dropdown.value;
  });

  button_post.addEventListener('click', function(event) {
    event.preventDefault();

    if (userInput.value.trim() === "") {
      return;
    }

    // ローディングスピナーを表示
    loadingSpinner.classList.remove('hidden');

    const url = "<%= my_dashboards_users_path('json') %>?user_input=" + userInput.value;
    const postOptions = {
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      method: "GET"
    };

    fetch(url, postOptions)
      .then(response => response.json())
      .then(item => {
        // ローディングスピナーを非表示
        loadingSpinner.classList.add('hidden');

        // ユーザーの質問
        const inputHTML = `
          <div class="text-right flex items-end justify-end space-x-2">
            <div class="chat-bubble inline-block bg-blue-100 px-4 py-2 rounded-lg max-w-3/4 break-words text-sky-950">
              <span>${userInput.value}</span>
            </div>
          </div>`;
        conversation.insertAdjacentHTML("beforeend", inputHTML);

        // MiniitaBotからの返事
        const responseHTML = `
          <div class="text-left flex items-start space-x-2">
            <div class="chat-bubble inline-block bg-gray-100 px-4 py-2 rounded-lg max-w-3/4 break-words text-sky-950">
              <span>${item.text}</span>
            </div>
          </div>`;
        conversation.insertAdjacentHTML("beforeend", responseHTML);
        userInput.value = "";
        conversation.scrollTop = conversation.scrollHeight;
      })
      .catch(error => {
        console.error('Error:', error);
        // ローディングスピナーを非表示
        loadingSpinner.classList.add('hidden');
      });
  });
</script>
