<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', type: 'module' %>

    <!-- ファビコン設定 -->
    <%= favicon_link_tag image_path('favicon.png'), type: 'image/png' %>
    <!-- ファビコン設定 -->

    <!-- 1投稿目のOGP設定 -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@yanapaha">
    <meta name="twitter:domain" content="www.miniita.com">
    <meta name="twitter:title" content="Miniita">
    <meta name="twitter:description" content="技術記事をもっと身近に">
    <meta name="twitter:image" content="<%= asset_url('first_post.png') %>">
   <!-- 1投稿目のOGP設定 -->

   <!-- 3投稿目のOGP設定 -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@yanapaha">
    <meta name="twitter:domain" content="www.miniita.com">
    <meta name="twitter:title" content="Miniita">
    <meta name="twitter:description" content="技術記事をもっと身近に">
    <meta name="twitter:image" content="<%= asset_url('third_post.png') %>">
   <!-- 3投稿目のOGP設定 -->

   <!-- 5投稿目のOGP設定 -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@yanapaha">
    <meta name="twitter:domain" content="www.miniita.com">
    <meta name="twitter:title" content="Miniita">
    <meta name="twitter:description" content="技術記事をもっと身近に">
    <meta name="twitter:image" content="<%= asset_url('fifth_post.png') %>">
   <!-- 5投稿目のOGP設定 -->

   <!-- 10投稿目のOGP設定 -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@yanapaha">
    <meta name="twitter:domain" content="www.miniita.com">
    <meta name="twitter:title" content="Miniita">
    <meta name="twitter:description" content="技術記事をもっと身近に">
    <meta name="twitter:image" content="<%= asset_url('10th_post.png') %>">
   <!-- 10投稿目のOGP設定 -->

   <!-- 20投稿目のOGP設定 -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@yanapaha">
    <meta name="twitter:domain" content="www.miniita.com">
    <meta name="twitter:title" content="Miniita">
    <meta name="twitter:description" content="技術記事をもっと身近に">
    <meta name="twitter:image" content="<%= asset_url('20th_post.png') %>">
   <!-- 20投稿目のOGP設定 -->

   <!-- 30投稿目のOGP設定 -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@yanapaha">
    <meta name="twitter:domain" content="www.miniita.com">
    <meta name="twitter:title" content="Miniita">
    <meta name="twitter:description" content="技術記事をもっと身近に">
    <meta name="twitter:image" content="<%= asset_url('30th_post.png') %>">
   <!-- 30投稿目のOGP設定 -->

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M5MJ3N91VC"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-M5MJ3N91VC');
    </script>
    <!-- Google tag (gtag.js) -->

    <!--bootstrapアイコン-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!--bootstrapアイコン-->

    <!--app/assets/stylesheets/kramdown_custom.cssを読み込む-->
    <%= stylesheet_link_tag 'kramdown_custom', media: 'all' %>
     <!--app/assets/stylesheets/kramdown_custom.cssを読み込む-->

     <!--markedjsのCDN読み込み-->
     <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
     <!--markedjsのCDN読み込み-->

  </head>

  <body>
    <!------ヘッダーの出し分け------------->
    <div class="bg-indigo-50">
    <% if current_user %>
      <%= render 'shared/after_login_header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'layouts/flash_messages' %>
    <!--------------------------------->
    <%= yield %>

  </body>
  </div>
</html>
