<div class="w-5/6 mx-auto max-w-screen-xl flex-grow mb-20 md:w-4/6">
  <% content_for :title, page_title('自分の記事') %>
  <div class="mt-20">
    <div class="join join-vertical w-full">
      <div class="collapse collapse-arrow join-item border-gray-400 border">
        <input type="radio" name="my-accordion-4" checked="checked">
        <div class="text-3xl font-bold text-gray-600 collapse-title text-xl font-medium">
          下書き記事 : <%= @draft_articles.count %> 記事
        </div>
        <div class="collapse-content">
          <% @draft_articles.each do |article| %>
            <div class="p-4 border rounded-lg mb-3 bg-stone-50 float1">
              <%= link_to article_path(article), class: 'app-link' do %>
                <h2 class="pl-4 text-xl font-semibold mt-2 text-gray-600"><%= article.title %></h2>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="mt-20">
        <div class="collapse collapse-arrow join-item border-gray-400 border">
          <input type="radio" name="my-accordion-4">
          <div class="text-3xl font-bold text-gray-600 collapse-title text-xl font-medium">
            投稿済記事 : <%= @published_articles.count %> 記事
          </div>
          <div class="collapse-content">
            <% @published_articles.each do |article| %>
              <div class="p-4 border rounded-lg mb-3 bg-stone-50 float1">
                <%= link_to article_path(article), class: 'app-link' do %>
                  <h2 class="pl-4 text-xl font-semibold mt-2 text-gray-600"><%= article.title %></h2>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
